@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-blend-mode: multiply;
    background-position: center;
    background-color: #424530;
}

.navbar-1{
    background-color: #424530;
}

img{
    max-width: 100%;
}

.header{
    background-image: url(../img/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 80px 0 0 0;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #424530;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img{
    max-width: 100vh;
    height: 250px;
}

.card h1{
    font-size: 75px;
    line-height: 1;
    color: #ffefcd;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
}

.card p{
    font-size: 17px;
    color: #ffefcd;
    margin-bottom: 20px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    color: #e09132;
    text-transform: uppercase;
    background-color: #424530;
    text-decoration: none;
    border-radius: 20px;
}

span{
    font-size: 14px;
    text-transform: uppercase;
    color: #424530;
}

.footer{
    background-color: #424530;
    color: #ffefcd;
}


.footer-2 h4{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

@media(max-width:991px){
    .sidebar{
        background-color: #424530 ;
        backdrop-filter: blur(10px);
    }
}